<div class="seat-container">
    <div class="screen-section">
        <div class="screen">
            <p class="screen-text">SCREEN</p>
        </div>
    </div>
    <div class="horizontal-space-section">
        <div class="horizontal-space"></div>
    </div>    
    <div class="left-section" #leftSection>        
        <!-- Template will be rendered here -->
    </div>
    <div class="vertical-space-left-section">
        <div class="vertical-space"></div>
    </div>
    <div class="center-section" #centerSection>
        <!-- Template will be rendered here -->
    </div>
    <div class="vertical-space-right-section">
        <div class="vertical-space"></div>
    </div>
    <div class="right-section" #rightSection>        
        <!-- Template will be rendered here -->
    </div>
</div>