/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(150, 150, 150, 0.2);
}